<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Content Hub</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    {% include navbar.html %}


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <a href="translations.html">
                        <img src="translations.png" alt="Translations" class="card-img-top">
                    </a>
                    <span class="toggle-text" onclick="toggleOverlayText(this, event)">👁️</span>
                    <div class="card-text-overlay">
                        <h5 class="card-title">Translations</h5>
                        <p>Explore AI-generated translations.</p>
                    </div>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card">
                    <a href="art.html">
                        <img src="mount_fuji_qr.jpg" alt="Art" class="card-img-top">
                    </a>
                    <span class="toggle-text" onclick="toggleOverlayText(this, event)">👁️</span>
                    <div class="card-text-overlay">
                        <h5 class="card-title">Art</h5>
                        <p>View AI-generated art pieces.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    {% include footer.html %}
   


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script> <!-- Link to your new external JavaScript file -->

</body>
</html>
