---
---
<footer class="mt-5 pt-4 pb-4" style="background-color: #F5E7CA;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Greeny AI is a platform dedicated to showcasing AI-generated content, and providing services which people will find useful. If you would like to make a request, you can contact me with my details below, or donate with a comment.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="translations.html">Translations</a></li>
                    <li><a href="art.html">Art</a></li>
                    <li><a href="about.hmtl">About</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: info@greenyai.com</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><img src="path_to_twitter_icon" alt="Twitter"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="path_to_facebook_icon" alt="Facebook"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="path_to_linkedin_icon" alt="LinkedIn"></a></li>
                </ul>
            </div>
            <div>
                <h5>Donate</h5>
                <p>Donate to support the development of Greeny AI, or request a service.</p>


            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2023 Greeny AI. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>  