---
---
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="transparent_logo.png" alt="Greeny AI Logo" width="40" height="40" class="d-inline-block align-top mr-2">
    </a>
    <a class="navbar-brand" href="#">Greeny AI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="translations.html">Translations</a></li>
            <li class="nav-item"><a class="nav-link" href="art.html">Art</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        </ul>
    </div>
</nav>